body{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
    /* color: beige; */
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    height: 100%;
}
.list{
    border-right: solid;
    /* border-color: rgb(0, 0, 0); */
    border-width: 5px;
    width: 30%;
    height: max-content(100vh,100%);
    /* background-image: linear-gradient(to left, orange,magenta); */
    background-color: #1F2431;
}
.player{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #171E32;
}
.musicAdder{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
#addMusic{
    height: 38px;
    border: none;
    border-radius: 10px;
    background-color: rgb(44, 106, 240);
    /* background-color: rgb(17, 92, 255); */
    color: white;
    font-weight: 700;
    font-size: large;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    
}
#addMusic:hover{
    background-color: rgb(17, 92, 255);
    /* background-color: rgb(11, 62, 171); */
}
#musicLink , #musicTitle{
    height: 38px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    
    border-radius: 10px;
    border-color: rgb(254, 95, 51); 
    color: white;
    /* background-color: rgb(213, 216, 216); */
    background-color: #2a2a2a;
}
iframe{
    width: 100%;
    height: 100%;
}
.listNav{
    display: flex;
    justify-content: end;
    
    
}
#navigation{
    position: sticky;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgb(3, 146, 255);

    color: white;
    /* transition: transform 0.5s ease-out */
    transition: background 0.2s ease, transform 0.2s ease;
}
#navigation:hover{
    /* transform: rotateY(90deg); */
    /* background-color: rgba(0, 0, 0, 0.6); */
    transform: rotate(90deg);
}
.header{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    /* background-color: yellowgreen; */
    background-image: linear-gradient(to left, rgb(44, 197, 243),rgb(3, 146, 255));
    
}


.hidden{
    /* use for display: or hide something  */ 
    display: none;
}